html,
body {
  color: #fff;
  /* background-color: #e5e5e5; */
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1621451749004-a06ae0616c44?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
.container-fluid {
  min-height: 1vh;
}
.navbar {
  background-color: #1769acbd;
}
.navbar-brand {
  padding-left: 70px;
}
.navbar ul li {
  display: inline-block;
  padding: 0px 10px;
}
.navbar ul li a {
  display: block;
}
.page-1 {
  height: 100%;
}
header {
  padding-top: 40vh;
  max-width: 50em;
  margin: auto;
}
.text-responsive {
  font-size: calc(60% + 1vw);
}
